<a href="https://colab.research.google.com/github/gadekarvishal08-cloud/innomatics_tasks/blob/main/task2_innomatics_labs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***1. Unique Words in a Sentence***

In [1]:
text=input("Enter a Sentence: ")
words=text.split()

unique_words=[]

for word in words:
  if word not in unique_words:
    unique_words.append(word)

print(unique_words)
print("count of unique_words:",len(unique_words))

Enter a Sentence: python is easy and simple language
['python', 'is', 'easy', 'and', 'simple', 'language']
count of unique_words: 6

***2.Highest Salary from Employee Data***

In [2]:
employees={ "Ravi": 75000,"Anita": 68000,"Kiran": 72000 }
print(max(employees))

Ravi

***3.Find Maximum and Minimum Values***

In [3]:
numbers=[45,22,89,10,66]
max_number=numbers[0]
min_number=numbers[0]
for number in numbers:
  if number > max_number:
    max_number=number
  if number < min_number:
    min_number=number
print("List:",numbers)
print("Maximum number is : ",max_number)
print("Minimum number is : ",min_number)

List: [45, 22, 89, 10, 66]
Maximum number is :  89
Minimum number is :  10

***4.Count Products Above a Price Threshold***

In [4]:
prices=[450, 1200, 899, 1500, 300]
count=0
for price in prices:
  if price > 1000:
    count=count+1
  else:
    count=count

print("Products above 1000 :",count)

Products above 1000 : 2

***5.Calculate Attendance Percentage***

In [5]:
Attendance=["P","P","A","P","P"]
present_days=Attendance.count("P")
Attendance_Percentage=(present_days/len(Attendance))*100
print("Attendance_Percentage:",Attendance_Percentage)

Attendance_Percentage: 80.0

***6. Remove Duplicate Phone numbers***

In [6]:

phone_numbers={9876543210, 9123456789, 9876543210}
print(phone_numbers)

{9876543210, 9123456789}

***7.Count Character Frequency***

In [7]:

text = "ppython"
char_count = {}
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

***9.Check If a key exists in a Dictionary***

In [8]:

employee={"Employee":"Pavani","Department":"Cse","Subject":"Innomatics research lab"}
key_to_check="Employee"
if key_to_check in employee:
  print("Employee exists")
else:
  print("Employee doesn't exists")

Employee exists

***10.Calculate Average marks***

In [9]:
marks=[99,45,94,85,78,66,80]
Total=sum(marks)
Average_Marks=Total/len(marks)
print("The total marks are :",Total)
print("The Average marks are :",Average_Marks)

The total marks are : 547
The Average marks are : 78.14285714285714